<nav class="sticky top-0 z-50 bg-[#050505]/80 backdrop-blur-md border-b border-muted">
    <div class="max-w-7xl mx-auto px-6 h-20 flex justify-between items-center w-full">
        <div class="font-bold text-xl tracking-tighter cursor-pointer" onclick="window.location.href='/'">Thomas Gerum Portfolio</div>
        <div class="hidden md:flex space-x-8 text-[11px] font-bold tracking-[0.2em] uppercase text-muted">
            <a href="/" class="hover:text-white transition-colors">Home</a>
            <a href="/scanner" class="hover:text-white transition-colors">Scanner</a>
            <a href="/cv" class="hover:text-white transition-colors">Lebenslauf</a>
            <a href="/doc" class="hover:text-white transition-colors">Doku</a>
        </div>
    </div>
</nav>
